body {
  background-color: #F0F0F0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#quote-box {
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 50px auto;
  max-width: 600px;
  padding: 30px;
  text-align: center;
}

#text {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

#author {
  font-size: 24px;
  font-style: italic;
  margin-bottom: 20px;
}

button {
  background-color: #008CBA;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  margin-right: 10px;
}

button:hover {
  background-color: #005E7E;
}

a {
  background-color: #1DA1F2;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  text-decoration: none;
}

a:hover {
  background-color: #0D75A7;
<<<<<<< HEAD
}
=======
}
>>>>>>> 0fbc5d3574968bef21e4e5ffe01a2cadd75cfdc2
